<template>
  <div id="q-app">
    <router-view />
    

    <ul>
      <li vue-valid-v-for=""></li>
    </ul>
  </div>
</template>


<script>
export default {
  name: 'App', 
  data() {
    return {
      cursos: [

      {nombre:'Vue JS (2 y 3) - Crea Aplicaciones Web Modernas con Vue HTML5, CSS, JavaScript' , precio: 85.50 },
       {nombre: 'Vue JS 3 de Principiante a Profesional (Incluye VUEX)', precio: 45.20},
       {nombre: 'Vue 3 JS: De cero a experto creando aplicaciones reales', precio: 90.45},
       {nombre: 'Vue JS Desarrollo Full Stack MEVN: MongoDB, Express, VueJS y Node JS' , precio: 75.30}

      
    ]
    }
  },
}


</script>


