<template>
  <q-page>
    
    <h5 class="title">Cursos Premium <span class="material-icons">grade </span></h5>
    <h6 class="arial">Cursos para dar tus primeros pasos</h6>

     <div class="q-pa-md row items-start q-gutter-md">
    <q-card class="my-card">
      <q-card-section class="bg-primary text-white">
        <div class="text-h6">Vue JS (2 y 3) - Crea Aplicaciones Web Modernas con Vue, HTML5, CSS, JavaScript</div>
        <div class="img-1"><img src="curso1.png"></div>
        <div class="text-subtitle2">Alam Villar</div>
        <div class="precio">85,50 US</div>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <h6 class="h1">Todo sobre Vue JS 2 y 3, Bindings, Directivas, Vue-CLI, Componentes, Formularios, Vue-Router, Composition API y Vuex</h6>
      </q-card-section>

      <q-separator />

      <q-card-actions align="right">
        <q-btn flat>Agregar al carrito <span class="material-icons">favorite_border</span></q-btn>
        
      </q-card-actions>
    </q-card>

    <q-card class="my-card">
      <q-card-section class="bg-purple text-white">
        
        <div class="text-h6">Vue JS 3 de Principiante a Profesional (Incluye VUEX)</div>
        <div class="img-2"><img src="curso2.jpg"></div>
        <div class="text-subtitle2">Aron Moreno</div>
        <div class="precio">45,20 US $</div>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <h6 class="h2">Aprenda Vue JS y conviértase en un profesional de VueJS. Cree SPA complejos con Vue.js, un marco de JavaScript simple y popular</h6>
      </q-card-section>

      <q-card-actions align="rigth">
        <q-btn flat>Agregar al carrito <span class="material-icons">favorite_border</span></q-btn>
       
      </q-card-actions>
    </q-card>

    <q-card class="my-card">
      <q-card-section class="bg-teal text-white">
        <div class="text-h6">Vue 3 JS: De cero a experto creando aplicaciones reales</div>
        <div class="img-3"><img src="curso5.jpg"></div>
        <div class="text-subtitle2">William Contreras</div>
        <div class="precio">90,45 US $</div>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <h6 class="h3">Aprende Vue 3, Vue-CLI, Bindings, API, Router, Vuex, Componentes, Formularios, Composition API</h6>
      </q-card-section>

      <q-card-actions vertical align="right">
        <q-btn flat>Agregar al carrito  <span class="material-icons">favorite_border</span></q-btn>
                                                                                 
        
      </q-card-actions>
    </q-card>

    <q-card class="my-card">
      <q-card-section class="bg-grey-8 text-white">
        <div class="text-h6">Vue JS Desarrollo Full Stack MEVN: MongoDB, Express, VueJS y Node JS</div>
        <div class="img-4"><img src="curso4.png"></div>
        <div class="text-subtitle2">Jose Pujols</div>
        <div class="precio">75,30 US $</div>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <span class="material-icons">star_rate </span>
        <h6 class h4>Desarrolla Sistemas Web utilizando el stack MEVN: MongoDB, Express, VueJS y Node, ECMAScript 6 - INCLUYE PROYECTO FINAL</h6>
      </q-card-section>

      <q-card-actions vertical align="rigth">

        <q-btn flat>Agregar al carrito  <span class="material-icons">favorite_border</span></q-btn>
        
      </q-card-actions>
    </q-card>
  </div>

  </q-page>
  
  
</template>

<script>
export default {
  name: 'PageIndex'
}
</script>



<style>  
.arial{
  background: rgb(0, 26, 255);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
}
.title{
  font-family: "Times New Roman", Times, serif;
  

}
.h1{
  font-family: "Times New Roman", Times, serif;
  
}
.h2{
  font-family: "Times New Roman", Times, serif;
  
}
.h3{
  font-family: "Times New Roman", Times, serif;
  
}
.h4{
  font-family: "Times New Roman", Times, serif;
  
}
</style>
