<template>
  <q-layout view="hHh lpR fFf">

    <q-header bordered class="bg-primary text-white">
      
      <q-toolbar>
        
        <q-btn dense flat round icon="menu" @click="left = !left" />

        <q-toolbar-title>
          
          <q-avatar>
            <q-img src="download.jpg" :ratio = "3/4"/>
          </q-avatar>
            Vue.js courses
        </q-toolbar-title>
     
       
         <q-btn round color="primary" icon="shopping_cart" />
       
      </q-toolbar>
    </q-header>
    
   
    <q-drawer show-if-above v-model="left" side="left" bordered>
      
    
  <div class="q-pa-md" style="max-width: 250px">
    <q-list bordered padding class="rounded-borders text-primary">
      <q-item
        clickable
        v-ripple
        :active="link === 'inbox'"
        @click="link = 'inbox'"
        active-class="my-menu-link"
      >
        <q-item-section avatar>
          <q-icon name="inbox" />
        </q-item-section>

        <q-item-section>Inbox</q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
        :active="link === 'All Products'"
        @click="link = 'All Products'"
        active-class="my-menu-link"
      >
        <q-item-section avatar>
          <q-icon name="send" />
        </q-item-section>

        <q-item-section>Outbox</q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
        :active="link === 'Categories'"
        @click="link = 'Categories'"
        active-class="my-menu-link"
      >
        <q-item-section avatar>
          <q-icon name="category" />
        </q-item-section>

        <q-item-section>Categories</q-item-section>
      </q-item>

      <q-separator spaced />

      <q-item
        clickable
        v-ripple
        :active="link === 'About us'"
        @click="link = 'About us'"
        active-class="my-menu-link"
      >
        <q-item-section avatar>
          <q-icon name="About us" />
        </q-item-section>

        <q-item-section>About us</q-item-section>
      </q-item>

      <q-item
        clickable
        v-ripple
        :active="link === 'Contact us'"
        @click="link = 'Contact us'"
        active-class="my-menu-link"
      >
        <q-item-section avatar>
          <q-icon name="Contact us" />
        </q-item-section>

        <q-item-section>Contact us</q-item-section>
      </q-item>
    </q-list>
  </div>

    </q-drawer>

    <q-page-container>
      
      
      <router-view />
      
    </q-page-container>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {      
        link: 'inbox',
      left: false
    }
  }
}
</script>

<style>
.my-menu-link{
  color: white;
  background: #12339c;
}
  
</style>
